<?xml version="1.0" encoding="UTF-8"?><!-- config.xml reference: https://build.phonegap.com/docs/config-xml --><widget xmlns     = "http://www.w3.org/ns/widgets"        xmlns:gap = "http://phonegap.com/ns/1.0"        id        = "com.mintyxd.AndroidExample        version   = "1.0.0">    <name>Hello World</name>    <description>        Hello World sample application that responds to the deviceready event.    </description>    <author href="http://phonegap.com" email="elijahmoer@gmail.com">        mintyxd	<icon src-="icon.png" />    </author>